.skills {
  top: 134.56px;
  left: calc(50% - 109px);
  font-size: 48px;
  width: 225px;
  height: 76px;
}
.designing-skills,
.my-technical-levels,
.skills {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-technical-levels {
  top: 194.56px;
  left: calc(50% - 100px);
  font-size: 20px;
  color: #7c7c7c;
  width: 207px;
  height: 43px;
}
.designing-skills {
  top: -69px;
  left: -4px;
  font-size: 36px;
  width: 300px;
  height: 51px;
}
.frame-child {
  position: absolute;
  width: 101%;
  top: -3px;
  right: -0.5%;
  left: -0.5%;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 416px;
}
.coral {
  position: absolute;
  top: 23px;
  left: 28px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 89px;
  height: 41px;
}
.frame-item {
  position: absolute;
  width: 90.66%;
  top: 61px;
  right: 4.67%;
  left: 4.67%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-inner {
  position: absolute;
  width: 78.83%;
  top: 71px;
  right: 14.83%;
  left: 6.33%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div,
.photo-shop {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div {
  top: 35px;
  right: 27.08px;
  color: #000;
  width: 59px;
  height: 18px;
}
.photo-shop {
  top: 116px;
  left: 35px;
  width: 149px;
  height: 41px;
}
.rectangle-div {
  position: absolute;
  width: 90.66%;
  top: 154px;
  right: 4.67%;
  left: 4.67%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child1 {
  position: absolute;
  width: 82.83%;
  top: 164px;
  right: 10.83%;
  left: 6.33%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div1,
.illistration {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.div1 {
  top: 128px;
  right: 27.08px;
  color: #000;
  justify-content: center;
  width: 59px;
  height: 18px;
}
.illistration {
  top: 209.44px;
  left: 30.65px;
  text-align: left;
  width: 150px;
  height: 41px;
}
.frame-child2 {
  position: absolute;
  width: 90.66%;
  top: 247px;
  right: 4.67%;
  left: 4.67%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child3 {
  position: absolute;
  width: 69.83%;
  top: 257px;
  right: 23.83%;
  left: 6.33%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div2,
.pattern-making {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.div2 {
  top: 221px;
  right: 27.08px;
  color: #000;
  justify-content: center;
  width: 59px;
  height: 18px;
}
.pattern-making {
  top: 302.44px;
  left: 30.65px;
  text-align: left;
  width: 210px;
  height: 41px;
}
.frame-child4 {
  position: absolute;
  width: 90.66%;
  top: 340px;
  right: 4.67%;
  left: 4.67%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child5 {
  position: absolute;
  width: 80.5%;
  top: 350px;
  right: 13.17%;
  left: 6.33%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div3 {
  position: absolute;
  top: 314px;
  right: 27.08px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 18px;
}
.designing-skills-parent,
.frame-child6 {
  position: absolute;
  width: 41.81%;
  top: 352.56px;
  right: 51.91%;
  left: 6.27%;
  height: 410px;
}
.frame-child6 {
  width: 99.01%;
  top: 69px;
  right: 0;
  left: 0.99%;
  border-radius: 10px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
}
.fabric-soucing,
.professional-skills {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.professional-skills {
  top: 0;
  left: 0;
  font-size: 36px;
  width: 340px;
  height: 51px;
}
.fabric-soucing {
  top: 92px;
  left: 40px;
  width: 191px;
  height: 41px;
}
.frame-child7 {
  position: absolute;
  width: 89.77%;
  top: 130px;
  right: 4.13%;
  left: 6.11%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child8 {
  position: absolute;
  width: 69.14%;
  top: 140px;
  right: 23.1%;
  left: 7.76%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div4,
.fabric-production {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div4 {
  top: 104px;
  right: 24.1px;
  color: #000;
  width: 59px;
  height: 18px;
}
.fabric-production {
  top: 185px;
  left: 40px;
  width: 228px;
  height: 41px;
}
.frame-child9 {
  position: absolute;
  width: 89.77%;
  top: 223px;
  right: 4.13%;
  left: 6.11%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child10 {
  position: absolute;
  width: 78.05%;
  top: 233px;
  right: 14.19%;
  left: 7.76%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div5,
.documentation {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div5 {
  top: 197px;
  right: 24.1px;
  color: #000;
  width: 59px;
  height: 18px;
}
.documentation {
  top: 279px;
  left: 40px;
  width: 201px;
  height: 41px;
}
.frame-child11 {
  position: absolute;
  width: 89.77%;
  top: 316px;
  right: 4.13%;
  left: 6.11%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child12 {
  position: absolute;
  width: 65.18%;
  top: 326px;
  right: 27.06%;
  left: 7.76%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div6,
.hand-knitting {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div6 {
  top: 290px;
  right: 24.1px;
  color: #000;
  width: 59px;
  height: 18px;
}
.hand-knitting {
  top: 371px;
  left: 37px;
  width: 177px;
  height: 41px;
}
.frame-child13 {
  position: absolute;
  width: 89.77%;
  top: 409px;
  right: 4.13%;
  left: 6.11%;
  border-radius: 5px;
  background-color: #fff;
  border: 3px solid #1a1627;
  box-sizing: border-box;
  height: 28px;
}
.frame-child14 {
  position: absolute;
  width: 70.13%;
  top: 419px;
  right: 22.11%;
  left: 7.76%;
  border-radius: 3px;
  background-color: #1a1627;
  height: 8px;
}
.div7 {
  position: absolute;
  top: 383px;
  right: 24.1px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 59px;
  height: 18px;
}
.rectangle-parent {
  position: absolute;
  width: 42.23%;
  top: 283.56px;
  right: 5.92%;
  left: 51.85%;
  height: 479px;
}
.frame-child15,
.skills-parent {
  position: absolute;
  top: 24px;
  left: 390px;
  width: 100px;
  height: 100px;
}
.skills-parent {
  height: 15.33%;
  width: 100%;
  top: 29.92%;
  right: 0;
  bottom: 54.75%;
  left: 0;
  background-color: #fff;
  overflow: hidden;
}
.div8,
.hi-iam-rashmi {
  line-height: 100px;
  display: flex;
  align-items: center;
}
.hi-iam-rashmi {
  position: relative;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  width: 420px;
  height: 79px;
  flex-shrink: 0;
}
.div8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.fashion-designer {
  position: relative;
  width: 413px;
  height: 35px;
  font-size: 32px;
  color: #909090;
  font-family: Roboto;
}
.hi-i-am {
  position: relative;
  font-size: 20px;
  letter-spacing: 0.07em;
  line-height: 25px;
  font-weight: 500;
  color: #000;
  display: inline-block;
  width: 422px;
  height: 68px;
  flex-shrink: 0;
}
.hi-iam-rashmi-parent {
  position: absolute;
  top: calc(50% - 148.74px);
  left: calc(50% - 407px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 11px;
  text-align: left;
}
.icon-mouse,
.scroll-down {
  position: absolute;
  top: calc(50% - 16.05px);
  left: calc(50% - 71.87px);
  width: 19px;
  height: 32.09px;
}
.scroll-down {
  top: calc(50% - 11px);
  left: calc(50% - 50.87px);
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 106px;
  height: 22px;
}
.icon-arrow-downward-outline {
  position: absolute;
  top: calc(50% - 8.84px);
  left: calc(50% + 57.13px);
  width: 14.74px;
  height: 17.68px;
}
.icon-mouse-parent {
  position: absolute;
  top: calc(50% + 343.26px);
  left: calc(50% - 461px);
  width: 143.74px;
  height: 32.09px;
  cursor: pointer;
  font-size: 15px;
  color: #000;
}
.group-icon {
  position: absolute;
  top: calc(50% - 260.35px);
  left: calc(50% + 161px);
  width: 347px;
  height: 497px;
  object-fit: cover;
}
.icon-facebook,
.icon-instagram-fill,
.icon-twitter {
  position: absolute;
  left: calc(50% - 509px);
  width: 36.35px;
}
.icon-instagram-fill {
  top: 284.39px;
  height: 36.35px;
  cursor: pointer;
}
.icon-facebook,
.icon-twitter {
  top: 360.74px;
  height: 36.12px;
}
.icon-twitter {
  top: 436.87px;
  height: 32.29px;
  cursor: pointer;
}
.component-3-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #1a1627;
  border: 1px solid #1a1627;
  box-sizing: border-box;
}
.icon-paper-plane-right {
  position: absolute;
  height: 38.52%;
  width: 12.08%;
  top: 30.91%;
  right: 9.58%;
  bottom: 30.57%;
  left: 78.33%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.contact-me {
  position: absolute;
  top: 21.21%;
  left: 8.33%;
  letter-spacing: 0.07em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 128px;
  height: 37px;
}
.component-3 {
  position: absolute;
  top: calc(50% + 122.26px);
  left: calc(50% - 407px);
  width: 192px;
  height: 66px;
  font-size: 20px;
  color: #fff;
  font-family: Roboto;
}
.frame-parent {
  position: absolute;
  height: 14.59%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 85.41%;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  font-size: 54px;
}
.about-me,
.my-introduction {
  position: absolute;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-me {
  top: calc(50% - 298.1px);
  left: calc(50% - 127px);
  font-size: 48px;
  width: 261px;
  height: 82px;
}
.my-introduction {
  top: calc(50% - 242.1px);
  left: calc(50% - 98px);
  color: #8a8a8a;
  width: 198px;
  height: 57px;
}
.frame-child16 {
  position: absolute;
  top: 324.4px;
  left: calc(50% - 520px);
  border-radius: 20px;
  background-color: #1a1627;
  width: 422px;
  height: 275px;
}
.fashion-designer-with {
  margin: 0;
}

.div10,
.div11,
.div9,
.fashion-designer-with-container {
  position: absolute;
  letter-spacing: 0.04em;
  line-height: 35px;
  display: inline-block;
}
.fashion-designer-with-container {
  width: 40.57%;
  top: 260px;
  left: 50.56%;
  font-weight: 500;
  color: #7c7c7c;
  white-space: pre-wrap;
  text-align: left;
  height: 160px;
}
.div10,
.div11,
.div9 {
  top: 0;
  left: calc(50% - 213px);
  font-weight: 600;
  width: 89px;
  height: 37px;
}
.div10,
.div11 {
  left: calc(50% - 39px);
  width: 82px;
}
.div11 {
  left: calc(50% + 128px);
}
.companies-worked,
.compleated-projects,
.years-experience {
  position: absolute;
  top: 55px;
  left: calc(50% - 254px);
  font-size: 20px;
  letter-spacing: 0.04em;
  line-height: 20px;
  font-weight: 500;
  color: #7c7c7c;
  text-align: center;
  display: inline-block;
  width: 158px;
}
.companies-worked,
.compleated-projects {
  left: calc(50% - 79px);
}
.companies-worked {
  left: calc(50% + 96px);
}
.parent {
  position: absolute;
  top: 520px;
  left: calc(50% - 13px);
  width: 508px;
  height: 95px;
  text-align: left;
  font-size: 40px;
  color: #000;
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 91.5px);
  border-radius: 10px;
  background-color: #1a1627;
  width: 192px;
  height: 68px;
}
.download-cv {
  position: absolute;
  top: 19px;
  left: calc(50% - 100.5px);
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 177px;
  height: 30px;
}
.icon-download {
  position: absolute;
  height: 30.3%;
  top: 32.71%;
  bottom: 36.99%;
  left: calc(50% + 62.75px);
  max-height: 100%;
  width: 20.56px;
}
.rectangle-group {
  position: absolute;
  top: 672px;
  left: calc(50% - 3px);
  width: 201px;
  height: 68px;
  color: #fff;
}
.about-me-parent,
.frame-child17 {
  position: absolute;
  top: 58.03px;
  left: 450.5px;
  width: 46.74px;
  height: 11.01px;
}
.about-me-parent {
  height: 15.33%;
  width: 100%;
  top: 14.59%;
  right: 0;
  bottom: 70.08%;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  font-size: 20px;
}
.qualification {
  top: 138.72px;
  left: calc(50% - 183px);
  width: 371px;
  height: 76px;
}
.education,
.my-education-journey,
.qualification {
  position: absolute;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-education-journey {
  top: 214.72px;
  left: calc(50% - 154px);
  font-size: 24px;
  color: #8c8c8c;
  width: 310px;
  height: 34px;
}
.education {
  top: 0;
  left: 46.88px;
  width: 127px;
  height: 43px;
}
.icon-school {
  position: absolute;
  height: 78.95%;
  width: 27.42%;
  top: 9.3%;
  right: 72.58%;
  bottom: 11.75%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.education-parent {
  position: absolute;
  top: 0;
  left: 209px;
  width: 173.88px;
  height: 43px;
  color: #4da9e2;
}
.group-icon1 {
  position: absolute;
  height: 100.8%;
  width: 26.7%;
  top: -7.69%;
  right: 75.33%;
  bottom: 6.89%;
  left: -2.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent,
.work {
  position: absolute;
  height: 26px;
}
.work {
  top: 0;
  left: 20.33px;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  font-family: Poppins;
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 78px;
}
.group-parent {
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 9px;
  left: 474.88px;
  width: 98.33px;
}
.basic-fashion-designing {
  position: absolute;
  top: 369px;
  left: 115px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 268px;
  height: 39px;
}
.ellipse-div,
.frame-child18 {
  position: relative;
  border-radius: 50%;
  background-color: #1a1627;
  width: 20px;
  height: 20px;
}
.frame-child18 {
  width: 4px;
  height: 4px;
}
.diploma-in-fashion,
.ellipse-parent,
.graduaction-in-fashion {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ellipse-parent {
  top: 131px;
  left: calc(50% + 22.5px);
  flex-direction: column;
  gap: 8px;
}
.diploma-in-fashion,
.graduaction-in-fashion {
  top: 257px;
  left: 449px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  width: 322px;
  height: 18px;
}
.graduaction-in-fashion {
  top: 121px;
  left: 0;
  width: 383px;
  height: 38px;
}
.frame-group {
  position: absolute;
  top: 329.72px;
  left: calc(50% - 417px);
  width: 771px;
  height: 408px;
  font-size: 20px;
  color: #000;
}
.qualification-parent {
  position: absolute;
  height: 15.32%;
  width: 100%;
  top: 45.25%;
  right: 0;
  bottom: 39.43%;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  font-size: 48px;
}
.services,
.what-i-offer {
  position: absolute;
  top: 135.88px;
  left: calc(50% - 113px);
  font-size: 48px;
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  color: #0d1d2d;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  height: 76px;
}
.what-i-offer {
  top: 190.88px;
  left: calc(50% - 110px);
  font-size: 24px;
  color: #8c8c8c;
  width: 226px;
  height: 66px;
}
.frame-child36,
.frame-child37 {
  position: absolute;
  top: 2.88px;
  left: 527px;
  width: 151px;
  height: 9px;
}
.frame-child37 {
  width: 102.05%;
  top: -4px;
  right: -1.03%;
  left: -1.03%;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: -15px 30px 30px 10px rgba(0, 0, 0, 0.25);
  border: 4px solid #1a1627;
  box-sizing: border-box;
  height: 443px;
}
.fashion {
  margin-block-start: 0;
  margin-block-end: 10px;
}
.fashion-designing-txt-container {
  line-break: anywhere;
  width: 100%;
}
.fashion-designing {
  position: absolute;
  top: 272px;
  left: calc(50% - 171.67px);
  letter-spacing: 0.03em;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 344px;
  height: 113px;
}
.icon-chanel-clothing-fashion {
  position: absolute;
  height: 45.58%;
  top: 9.09%;
  bottom: 45.33%;
  left: calc(50% - 86.42px);
  max-height: 100%;
  width: 186.32px;
}
.rectangle-container {
  position: absolute;
  width: 27.04%;
  top: 330.88px;
  right: 66.83%;
  left: 6.13%;
  height: 435px;
}
.icon-pattern {
  position: absolute;
  top: 47px;
  left: calc(50% - 90.67px);
  width: 182.95px;
  height: 182.95px;
}
.frame-div {
  position: absolute;
  width: 27.04%;
  top: 330.88px;
  right: 36.31%;
  left: 36.65%;
  height: 435px;
}
.fabric-sourcing {
  position: absolute;
  top: 280px;
  left: calc(50% - 171.67px);
  letter-spacing: 0.03em;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 344px;
  height: 113px;
}
.icon-fabric {
  position: absolute;
  height: 31.94%;
  top: 18.44%;
  bottom: 49.61%;
  left: calc(50% - 88.17px);
  max-height: 100%;
  width: 182.42px;
}
.rectangle-parent1 {
  position: absolute;
  width: 27.04%;
  top: 330.88px;
  right: 5.79%;
  left: 67.18%;
  height: 435px;
}
.frame-child40,
.services-parent {
  position: absolute;
  top: 26px;
  left: 452px;
  width: 130px;
  height: 8px;
}
.services-parent {
  height: 15.33%;
  width: 100%;
  top: 60.54%;
  right: 0;
  bottom: 24.13%;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  font-size: 36px;
  color: #000;
}
.rashmi-all-the {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 216px);
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 438px;
  height: 22px;
}
.rashmi-all-the-rights-reserve-wrapper {
  position: absolute;
  height: 1.03%;
  width: 100%;
  top: 98.97%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #121017;
  overflow: hidden;
  font-size: 16px;
  color: #fff;
}
.most-resent-work,
.projects {
  position: absolute;
  top: 147.04px;
  left: calc(50% - 106px);
  letter-spacing: 0.03em;
  line-height: 30px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  height: 76px;
}
.most-resent-work {
  top: 202.04px;
  left: calc(50% - 115px);
  font-size: 24px;
  color: #8c8c8c;
  width: 237px;
  height: 84px;
}
.frame-child41,
.frame-child42,
.frame-child43,
.frame-child44,
.frame-child45 {
  position: absolute;
  top: 359px;
  left: calc(50% + 32.14px);
  border-radius: 50%;
  background-color: #1a1627;
  width: 1px;
  height: 1px;
}
.frame-child42,
.frame-child43,
.frame-child44,
.frame-child45 {
  left: calc(50% - 11.86px);
}
.frame-child43,
.frame-child44,
.frame-child45 {
  left: calc(50% + 30.14px);
}
.frame-child44,
.frame-child45 {
  left: calc(50% - 13.86px);
}
.frame-child45 {
  left: calc(50% + 28.14px);
}
.frame-child46,
.frame-child47,
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52 {
  position: absolute;
  top: 359px;
  left: calc(50% - 15.86px);
  border-radius: 50%;
  background-color: #1a1627;
  width: 1px;
  height: 1px;
}
.frame-child47,
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52 {
  left: calc(50% + 26.14px);
}
.frame-child48,
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52 {
  left: calc(50% - 17.86px);
}
.frame-child49,
.frame-child50,
.frame-child51,
.frame-child52 {
  left: calc(50% + 24.14px);
}
.frame-child50,
.frame-child51,
.frame-child52 {
  left: calc(50% - 19.86px);
}
.frame-child51,
.frame-child52 {
  left: calc(50% + 22.14px);
}
.frame-child52 {
  left: calc(50% - 21.86px);
}
.frame-child53,
.frame-child54,
.frame-child55,
.frame-child56,
.frame-child57,
.frame-child58,
.frame-child59 {
  position: absolute;
  top: 359px;
  left: calc(50% + 20.14px);
  border-radius: 50%;
  background-color: #1a1627;
  width: 1px;
  height: 1px;
}
.frame-child54,
.frame-child55,
.frame-child56,
.frame-child57,
.frame-child58,
.frame-child59 {
  left: calc(50% - 23.86px);
}
.frame-child55,
.frame-child56,
.frame-child57,
.frame-child58,
.frame-child59 {
  left: calc(50% + 18.14px);
}
.frame-child56,
.frame-child57,
.frame-child58,
.frame-child59 {
  left: calc(50% - 25.86px);
}
.frame-child57,
.frame-child58,
.frame-child59 {
  left: calc(50% + 16.14px);
}
.frame-child58,
.frame-child59 {
  left: calc(50% - 27.86px);
}
.frame-child59 {
  left: calc(50% + 14.14px);
}
.frame-child60,
.frame-child61,
.frame-child62,
.frame-child63,
.frame-child64,
.frame-child65,
.frame-child66 {
  position: absolute;
  top: 359px;
  left: calc(50% - 29.86px);
  border-radius: 50%;
  background-color: #1a1627;
  width: 1px;
  height: 1px;
}
.frame-child61,
.frame-child62,
.frame-child63,
.frame-child64,
.frame-child65,
.frame-child66 {
  left: calc(50% + 12.14px);
}
.frame-child62,
.frame-child63,
.frame-child64,
.frame-child65,
.frame-child66 {
  left: calc(50% - 31.86px);
}
.frame-child63,
.frame-child64,
.frame-child65,
.frame-child66 {
  left: calc(50% + 10.14px);
}
.frame-child64,
.frame-child65,
.frame-child66 {
  left: calc(50% - 33.86px);
}
.frame-child65,
.frame-child66 {
  left: calc(50% + 8.14px);
}
.frame-child66 {
  left: calc(50% - 35.86px);
}
.frame-child67,
.frame-child68,
.frame-child69 {
  position: absolute;
  top: 351px;
  left: calc(50% + 34.14px);
  border-radius: 50%;
  background-color: #ddd;
  width: 17px;
  height: 17px;
}
.frame-child68,
.frame-child69 {
  left: calc(50% - 9.86px);
}
.frame-child69 {
  top: 349px;
  left: calc(50% - 57.86px);
  background-color: #1a1627;
  width: 21px;
  height: 21px;
}
.icon-chevron-left,
.vector-icon {
  cursor: pointer;
  position: absolute;
  top: 128px;
  left: calc(50% + 479.14px);
  width: 35px;
  height: 61.2px;
}
.vector-icon {
  left: calc(50% - 517.86px);
}
.fashion-show,
.i-was-andaekdlne {
  position: absolute;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.i-was-andaekdlne {
  top: 91px;
  left: calc(50% + 40.14px);
  line-height: 25px;
  font-weight: 500;
  width: 354px;
  height: 119px;
}
.fashion-show {
  top: 19px;
  left: calc(50% + 40.14px);
  line-height: 30px;
  color: #000;
  text-align: left;
  justify-content: left;
  width: 500px;
  height: 80px;
}
.rectangle-icon {
  position: absolute;
  top: 0;
  left: calc(50% - 403.86px);
  border-radius: 10px;
  width: 389px;
  height: 268px;
  object-fit: cover;
}
.ellipse-group {
  position: absolute;
  width: 74.56%;
  top: 347.04px;
  right: 12.47%;
  left: 12.96%;
  height: 370px;
  text-align: left;
  font-size: 24px;
  color: #8c8c8c;
}
.contact-me1 {
  position: absolute;
  top: 780.04px;
  left: calc(50% - 230px);
  letter-spacing: 0.03em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 481px;
  height: 76px;
}
.frame-child70,
.projects-parent {
  position: absolute;
  top: 726px;
  left: 655px;
  width: 129px;
  height: 38px;
}
.projects-parent {
  height: 15.21%;
  width: 100%;
  top: 75.87%;
  right: 0;
  bottom: 8.92%;
  left: 0;
  background-color: #fff;
  overflow: hidden;
  font-size: 48px;
  color: #000;
}
.rashmi {
  position: absolute;
  top: 46.2px;
  left: 70px;
  font-size: 32px;
  letter-spacing: 0.07em;
  line-height: 100px;
  font-weight: 500;
  color: #1a1627;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 70px;
  cursor: pointer;
}
.frame-child71 {
  position: absolute;
  height: 6.53%;
  top: 15.21%;
  bottom: 78.25%;
  left: 140.19px;
  max-height: 100%;
  width: 28.04px;
}
.contact1 {
  position: absolute;
  top: 176.2px;
  left: calc(50% - 468px);
  letter-spacing: 0.07em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 122px;
  height: 41px;
}
.icon-email-outline,
.icon-home,
.icon-phone-call-outline {
  position: absolute;
  height: 6.51%;
  top: 57.54%;
  bottom: 35.95%;
  left: calc(50% - 461.63px);
  max-height: 100%;
  width: 37.05px;
}
.icon-email-outline,
.icon-phone-call-outline {
  height: 8.37%;
  top: 68.57%;
  bottom: 23.05%;
}
.icon-phone-call-outline {
  top: 81.47%;
  bottom: 10.15%;
}
.div12,
.rashmi18prajapatgmailcom,
.sanganer-jaipur {
  position: absolute;
  left: calc(50% - 407px);
  font-size: 20px;
  letter-spacing: 0.07em;
  line-height: 20px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.sanganer-jaipur {
  top: 263.2px;
  width: 339px;
  height: 20px;
}
.div12,
.rashmi18prajapatgmailcom {
  top: 316.2px;
  width: 383px;
}
.div12 {
  top: 369.2px;
  width: 215px;
  height: 32px;
}
.frame-child72 {
  position: absolute;
  top: 254.6px;
  left: calc(50% + 199.5px);
  width: 28.72px;
  height: 146.56px;
}
.instagram {
  top: 257.2px;
}
.facebook,
.instagram,
.twitter {
  position: absolute;
  left: calc(50% + 245px);
  letter-spacing: 0.07em;
  line-height: 20px;
  font-weight: 500;
}
.facebook {
  top: 315.2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 24px;
}
.twitter {
  top: 377.2px;
}
.rashmi-parent {
  position: absolute;
  height: 7.89%;
  width: 100%;
  top: 91.08%;
  right: 0;
  bottom: 1.03%;
  left: 0;
  background-color: #f3f3f3;
  overflow: hidden;
  color: #000;
}
.logo-icon {
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 19.02px;
  height: 22.11px;
}
.logo-parent,
.rashmi1 {
  position: absolute;
  height: 28px;
}
.rashmi1 {
  top: 0;
  left: 9px;
  letter-spacing: 0.07em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
}
.logo-parent {
  top: 18px;
  left: 84px;
  width: 153px;
  cursor: pointer;
}
.about1,
.contact-me2,
.home1,
.services1,
.skils {
  position: relative;
  letter-spacing: 0.07em;
  line-height: 100px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 19px;
  flex-shrink: 0;
  cursor: pointer;
}
.about1,
.contact-me2,
.services1,
.skils {
  width: 88px;
}
.contact-me2,
.services1,
.skils {
  width: 73px;
}
.contact-me2,
.services1 {
  width: 116px;
}
.contact-me2 {
  width: 157px;
}
.vector-icon1 {
  cursor: pointer;
  position: relative;
  width: 23.64px;
  height: 22.8px;
}
.home-parent {
  position: absolute;
  top: calc(50% - 11.5px);
  right: 87.36px;
  width: 649.64px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 20px;
  font-size: 20px;
}
.group-container {
  position: fixed;
  height: 65px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 98.85%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(40px);
}
.mac {
  position: relative;
  width: 100%;
  height: 5629px;
  text-align: center;
  font-size: 24px;
  color: #1a1627;
  font-family: Poppins;
}


